/* line 1, ../sass/slider.scss */
#carousel {
  background-color: #f5f5f5;
  position: relative;
  margin: 0 auto;
  width: 1080px;
  overflow: auto;
}

/* line 9, ../sass/slider.scss */
.carousel-in {
  position: relative;
  left: 50%;
  width: 980px;
  /* important (this width = width of list item(including margin) * items shown */
  margin-left: -490px;
  overflow: hidden;
  /* important (hide the items outside the div) */
}

/* line 17, ../sass/slider.scss */
.carousel-inner {
  position: relative;
  left: -245px;
  /* important (this should be negative number of list items width(including margin) */
  margin: 0px;
  padding: 0px;
  width: 9999px;
  /* important */
  overflow: auto;
}
/* line 25, ../sass/slider.scss */
.carousel-inner li {
  float: left;
  /* important for inline positioning of the list items */
  width: 225px;
  /* fixed width, important */
  padding: 0px;
  margin: 10px;
}

/* line 33, ../sass/slider.scss */
.btn-prev {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  margin-top: -18px;
  width: 34px;
  height: 33px;
  cursor: pointer;
  background-image: url("../images/btn_prev.png");
}
/* line 44, ../sass/slider.scss */
.btn-prev:hover {
  background-position: 34px 34px;
}

/* line 49, ../sass/slider.scss */
.btn-next {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: auto;
  margin-top: -18px;
  width: 34px;
  height: 33px;
  cursor: pointer;
  background-image: url("../images/btn_next.png");
}
/* line 61, ../sass/slider.scss */
.btn-next:hover {
  background-position: 34px 34px;
}
