/* line 1, ../sass/slider.scss */
#carousel {
  background-color: #f5f5f5;
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height: 300px;
  overflow: auto;
}

/* line 10, ../sass/slider.scss */
.carousel-in {
  position: relative;
  left: 50%;
  width: 980px;
  /* important (this width = width of list item(including margin) * items shown */
  margin-left: -490px;
  overflow: hidden;
  /* important (hide the items outside the div) */
  top: 20%;
}

/* line 19, ../sass/slider.scss */
.carousel-inner {
  position: relative;
  left: -245px;
  /* important (this should be negative number of list items width(including margin) */
  margin: 0px;
  padding: 0px;
  width: 9999px;
  /* important */
  overflow: auto;
}
/* line 27, ../sass/slider.scss */
.carousel-inner li {
  float: left;
  /* important for inline positioning of the list items */
  width: 245px;
  /* fixed width, important */
  padding: 0px;
}

/* line 34, ../sass/slider.scss */
.template-default {
  padding: 9px;
  cursor: pointer;
  overflow: auto;
  border: 1px #f5f5f5 solid;
}
/* line 40, ../sass/slider.scss */
.template-default:hover {
  padding: 9px;
  background-color: #f5f5f5;
  border: 1px #ddd solid;
}

/* line 47, ../sass/slider.scss */
.btn-prev {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  margin-top: -18px;
  width: 34px;
  height: 33px;
  cursor: pointer;
  background-image: url("../images/btn_prev.png");
}
/* line 58, ../sass/slider.scss */
.btn-prev:hover {
  background-position: 34px 34px;
}

/* line 63, ../sass/slider.scss */
.btn-next {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: auto;
  margin-top: -18px;
  width: 34px;
  height: 33px;
  cursor: pointer;
  background-image: url("../images/btn_next.png");
}
/* line 75, ../sass/slider.scss */
.btn-next:hover {
  background-position: 34px 34px;
}
